<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your New Bank Account ✅</title>
<!--    <link rel="stylesheet" th:href="/css/email.css">-->
    <style>
        body {font-family:Arial, sans-serif; background: #f4f7fb; margin: 0;padding: 0;}
        .container{max-width: 600px;margin: 30px auto; background: #ffffff;border-radius: 8px;
            padding: 25px; box-shadow: 0 4px 10px rgba(0,0,0,0.1);}
        .h2{color: #2e7d32; text-align: center;}
        .p{color: #333;line-height: 1.6;}
        .ul{list-style: none;padding: 0;}
        .footer {margin-top: 30px; font-size: 13px; color: #777; text-align: center;}
    </style>
</head>
<body>
<div class="container">

    <h2> Hello, <span th:text="${name}"></span> 👏</h2>
    <p>Your <b><span th:text="${accountType}"></span></b>Account has bean successfully created</p>
    <p><b>Account Details:</b></p>
    <ul>
        <li>Account Number: <b th:text="${accountNumber}"></b></li>
        <li>Account Type:<b th:text="${accountType}"></b></li>
        <li>Currency: <b th:text="${currency}"></b></li>
    </ul>
<p>You can log in and start using your account immediately. </p>

    <div class="footer">
        Best regards,<br>
        yahya Bank,<br>
        <a href="[frontendLoginUrl]" style="color: #007bff; text-decoration: none;">www.yahyabank.com </a><br>
        ©<span th:text="${#dates.format(#dates.createNow(), 'yyyy')}">2025</span> yahya Bank. All rights reserved.
    </div>
</div>
</body>






































































</html>